<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127428384639-42nnmdhfl03hnh2i3k0ti2oleb4b5cdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127428384639-42nnmdhfl03hnh2i3k0ti2oleb4b5cdr</string>
	<key>API_KEY</key>
	<string>AIzaSyDrINckZE9ALJ46ygXe7exNhxdTQvItqb4</string>
	<key>GCM_SENDER_ID</key>
	<string>127428384639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FrontierPrecision.FieldSeeker</string>
	<key>PROJECT_ID</key>
	<string>fir-visiondemo</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-visiondemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127428384639:ios:b88110eb03283e96</string>
	<key>DATABASE_URL</key>
	<string>https://fir-visiondemo.firebaseio.com</string>
</dict>
</plist>